In [1]:
import pandas as pd
import numpy as np
import os

In [ ]:
df1 = pd.read_csv('data/hack_illinois_part1.csv')

In [ ]:
df2 = pd.read_csv('data/hack_illinois_part2.csv')

In [ ]:
df3 = pd.concat([df,df2]).drop("Unnamed: 0",axis=1)

In [ ]:
df3

In [ ]:
df3.to_csv('data/hack_illinois.csv', index=False)

In [2]:
pd.read_csv('data/hack_illinois.csv')

,AssetID,Date,Asset type,Total Hours,Total Fuel (Liters),Fuel Level (%),GPS Lattitude,GPS Longitude
0,1022011,2018-04-06,Motor Grader,4.03,333.13,97.79,37.501627,-79.868284
1,1022011,2018-04-07,Motor Grader,7.34,780.29,3.80,37.502335,-79.867422
2,1022011,2018-04-08,Motor Grader,7.27,944.96,28.64,37.502308,-79.867891
3,1022011,2018-04-09,Motor Grader,7.35,872.81,83.86,37.500230,-79.869236
4,1022011,2018-04-10,Motor Grader,13.39,856.22,40.68,37.500349,-79.869155
...,...,...,...,...,...,...,...,...
14599995,1042010,2019-04-01,Track Type Tractor,21.93,748.14,11.34,38.161304,-81.631966
14599996,1042010,2019-04-02,Track Type Tractor,23.91,476.64,41.83,38.162546,-81.633612
14599997,1042010,2019-04-03,Track Type Tractor,1.20,989.99,58.61,38.163981,-81.634027
14599998,1042010,2019-04-04,Track Type Tractor,7.76,117.69,19.47,38.164121,-81.629039
14599999,1042010,2019-04-05,Track Type Tractor,12.07,581.62,44.10,38.164032,-81.628504